*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    background-image: url(cover.jpg);
    background-size: cover;
    background-position: center;
    
}

.log_in{
    background-color: transparent;
    width: 420px;
    color: #fff;
    border-radius: 4px;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    padding: 30px 40px;
}

.log_in h1{
    font-size: 36px;
    text-align: center;

}

.input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}
.req{
    display: flex;
    justify-content: space-between;
    color: #fff;
    
}
.req label input{

    margin-left: 5px;
    accent-color: #fff;
    padding: 5px;

}
.req a{
    color: #fff;
    text-decoration: none;
    margin-right: 5px;
}

.req a:hover{
    text-decoration: underline;
}
.btnn{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    color: #333;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.register-link{
    font-size: 14.45px;
    text-align: center;
    margin-top: 10px;
    color: #fff;
}
.register-link p a{
    color: #fff;
    text-decoration: none;

} 

.register-link a:hover{
    text-decoration: underline;
}